html,
body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
}

    .box .row {
    }

        .box .row.header {
            flex: 0 1 auto;
        }

        .box .row.content {
            flex: 1 1 auto;
            background-color: white;
            border-radius: 30px 30px 0px 0px;
            width:100%;
            margin-bottom:5px;
        }

.layer-canvas {
    background-color: white;
    border-radius: 30px 30px 0px 0px;
}

.tripqueue {
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 30px;
    height: fit-content;
    max-height: fit-content;
}

.cardcontent {
    margin-left: -23px;
    margin-right: -23px;
    margin-bottom: -7px;
}

.nav-bar-logo {
    height: 50px;
    margin-top: 5px;
}

.nav-bar-logo-mobile {
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

.header-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.scrollbar {
    margin-left: 10px;
    float: left;
    height: 300px;
    width: 15px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-x {
    height: 15px;
    width: 100px;
    background: #fff;
    overflow-x: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scrollbar-x-primary::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #9e9e9e;
}

.scrollbar-x-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #9e9e9e;
    width:40px;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-x-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.triplist {
    margin-left: -23px;
    margin-right: -23px;
    overflow: hidden;
    overflow-y: scroll;
    height: 64vh;
}

.paneltriplist {
    margin-left: -23px;
    margin-right: -23px;
    overflow: hidden;
    overflow-y: scroll;
    height: 85.5vh
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/initializing.png) center no-repeat #fff;
    background-size: 50%;
}

.showable {
    display: none;
}

.interactable {
    pointer-events: none;
}

div#modalfare {
    width: 25% !important;
}

.logbox {
    margin-left: -23px;
    margin-right: -23px;
    overflow-y: scroll;
    height: 22vh;
}

.logentry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 99%;
    min-height:35px;
    height: 1.5vw;
    border-radius: 2px;
    color: black;
}

    .logentry i {
        font-size: 1.25vw;
    }

    .logentry p {
        font-size: .75vw;
        margin-right: auto;
    }

    .logentry a {
        font-size: .75vw;
    }

    .logentry span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25vw;
        font-size: .75vw;
        border-radius: 2px;
        margin-left: -0.5vw;
        margin-right: 0.5vw;
    }

.panelwind {
    border-radius: 0px !important;
    margin: 0px !important;
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden;
}

.panelcontent {
    height: 97% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    margin-left: -24px !important;
    margin-right: -24px !important;
}

.queuepanelcontent {
    height: 50% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    margin-left: -24px !important;
    margin-right: -24px !important;
}

.logpanelentry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 99%;
    height: 6vh;
    font-size: 4vw;
    min-height: 5vw;
    border-radius: 2px;
    color: black;
}

    .logpanelentry i {
        font-size: 4.5vw;
    }

    .logpanelentry p {
        font-size: 4vw;
        margin-right: auto;
    }

    .logpanelentry a {
        font-size: 4vw;
    }

    .logpanelentry span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4vh;
        width: 5vw;
        min-height: 4vw;
        font-size: 3.5vw;
        border-radius: 2px;
        margin-left: -0.75vw;
        margin-right: 0.75vw;
    }


@media screen and (min-width: 937px) {
    .logpanelentry {
        background-color: white;
        margin: 5px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        width: 99%;
        height: 6vh;
        font-size: 42px !important;
        min-height: 5vw;
        border-radius: 2px;
        color: black;
    }

        .logpanelentry i {
            font-size: 40px !important;
        }

        .logpanelentry p {
            font-size: 40px !important;
            margin-right: auto;
        }

        .logpanelentry a {
            font-size: 40px !important;
        }

        .logpanelentry span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5vh;
            min-height: 4vw;
            width: 5vw;
            font-size: 42px;
            border-radius: 2px;
            margin-left: -0.75vw;
            margin-right: 0.75vw;
        }
}

.logpanelph {
    border: dashed;
    border-radius: 15px;
    border-width: 3px;
    color: #9e9e9e;
    height: 31vh;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .logpanelph p {
        line-height: 29vh;
        height: 31vh;
        text-align: center;
        font-size: 2vh;
        font-weight: 100;
    }

.statpanelgraph {
    height: 40% !important;
}

.statpaneltable {
    font-size: 4.5vw;
}

@media screen and (min-width: 937px) {
    .statpaneltable {
        font-size: 42px;
    }
}

.statspanelph {
    border: dashed;
    border-radius: 15px;
    border-width: 3px;
    color: #9e9e9e;
    height: 52vh;
    margin-left: 30px;
    margin-right: 5px;
}

    .statspanelph p {
        line-height: 50vh;
        height: 52vh;
        text-align: center;
        font-size: 2vh;
        font-weight: 100;
    }

.queuepanelph {
    border: dashed;
    border-radius: 15px;
    border-width: 3px;
    color: #9e9e9e;
    height: 85vh;
    margin-left: 5px;
    margin-right: 30px;
    margin-top: 15px;
}

    .queuepanelph p {
        line-height: 83vh;
        height: 85vh;
        text-align: center;
        font-size: 2vh;
        font-weight: 100;
    }

.mapdefault {
    border-radius: 15px;
    min-height: 85vh;
    margin-left: -30px;
    margin-right: -30px;
}

.mapextendright {
    margin-right: -51% !important;
}

.mapextendleft {
    margin-left: -51% !important;
}

.panelheader {
    margin-top: -15px;
    color: white;
    font-weight: 300;
}

.queuefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content
}

.routetripbutton {
    flex: 1;
    font-size: 18px;
    margin-right: 3px;
}

.swapmapbutton {
    flex: 1;
    font-size: 18px;
}